body {
  font-family: "Segoe UI",sans-serif;
  margin: 0;
  background: #f4f5f7;
}
.csat-bg {
  background: #8d83ec;
  position: fixed;
  top:0;left:0;right:0;
  height: 40vh;
  z-index: 0;
}
.csat-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  z-index: 1;
}
.csat-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 18px #232f3e1a, 0 0px 0px #fff9;
  padding: 36px 34px 32px 34px;
  display: flex;
  flex-direction: column;
  min-width:340px;
  max-width: 410px;
  align-items: center;
  margin-top: -90px;
}

.csat-stars {
  display: flex;
  flex-direction: row;
  gap:4px;
  justify-content: center;
  font-size: 2.35em;
}
.csat-stars .star {
  color: #a8a8a8;
  cursor: pointer;
  transition: color 0.18s, transform 0.08s;
  user-select:none;
  padding:2px 3px 0 3px;
}
.csat-stars .star.selected,
.csat-stars .star.hovered {
  color: #fed11d;
  text-shadow:0 0 7px #dfcaff80;
}
textarea {
  min-width: 100%;
  min-height: 64px;
  max-width:100%;
  margin-top: 11px;
  font-size: 1.11em;
  padding: 8px 8px;
  border: 2px solid #8d83ec;
  border-radius: 5px;
  font-family: inherit;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 16px;
  resize: vertical;
}
.csat-label{
  font-size:0.98em;
  color: #172b4d;
  margin-bottom:3px;
}
button#submitBtn {
  background: #8d83ec;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size:1em;
  padding:8px 22px;
  margin-top: 3px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s, color 0.2s, opacity 0.17s;
  box-shadow: 0 2px 5px #8d83ec25;
  opacity: .93;
}
button#submitBtn:disabled {
  background: #f4f5f7;
  color: #8d83ec;
  opacity: .7;
  cursor:not-allowed;
}
.csat-response {
  color: #222;
  font-weight: bold;
  text-align: center;
  margin: 14px 0 10px 0;
  font-size:1.2em;
}


.thankyou-title {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 7px;
  color: #312e49;
  text-align: center;
}
.csat-task-key {
    font-size: 1.25rem;
    font-weight: 600;
    color: #6157d4;
    margin-bottom: 10px;

    display: inline-block;

}
.thankyou-desc {
  font-size: 1em;
  color: #64648b;
  text-align: center;
}
@media (max-width:440px){
  .csat-card{
    min-width:93vw;
    max-width:96vw;
    padding:12vw;
  }
}